/* Color Theme Swatches in Hex */

$primary-1: #BF961B;
$primary-2: #D9BA1E;
$background-color: #F2DCC9;
$highlight: #8C610F;
$text-color: #333140;

$primary-1: #D5E2F2;
$primary-2: #7F8C6C;
$background-color: #A4A677;
$highlight: #204040;
$text-color: #575659;

$primary-1: #9ECC98;
$primary-2: #E1F2DF;
$background-color: #F2F2F2;
$highlight: #7A6D6A;
$text-color: #0D0D22;