@import './colors.scss';

.tool-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  left: 8px;
  transition: 0.5s ease-out;
}

.tool-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  background-color: $primary-1;
  cursor: pointer;
  border-radius: 32px;
  position: relative;
  height: 44px;
  max-height: 44px;
  width: fit-content;
  max-width: 450px;
  margin: 8px;
  transition-property: all;
  transition: 0.5s;

  &.title-shortened {
    max-width: 250px;
    transition: 0.5s;
  }

  .tool-main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .tool-title {
    display: block;
    overflow-x: hidden;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
    color: $text-color;
    position: relative;
    user-select: none;
    margin: 0px 24px 0px 8px;
  }

  .tool-dropdown.hidden {
    display: none !important;
  }

  .tool-dropdown {
    display: none;
    padding: 8px;
    overflow: hidden;

    .tool-description {
      margin-bottom: 8px;
    }
  }

  &:hover {
    height: fit-content;
    max-height: 200px;
    transition: 0.5s;

    .tool-dropdown {
      display: block;
    }
  }
}

.tool-links-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 8px;
  
  .tool-link {
    margin-right: 8px;
    
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.tool {
  width: 44px;
  height: 44px;
  margin-left: 8px;
  border-radius: 32px;
  cursor: pointer;
  fill: #333;
  background-color: $primary-1;
}

div.tool svg {
  display: block;
  width: 34px;
  height: 34px;
  margin: 0 auto;
  padding-top: 5px;
  fill: inherit;

  path {
    fill: $text-color;
  }
}

.psuedo {
  width: 5em;
  height: 0.25em;
}