@import './colors.scss';

* {
  font-family: Consolas, monaco, monospace;
}

svg path {
  fill: $text-color;
  transition: 0.3s;
}


svg:hover path, a:hover path {
  fill: $highlight !important;
}

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
}

.main-page {
  height: 100vh;
  $page-ratio: 85%;
  $bob-speed: 25s;

  .top-section {
    position: relative;
    height: $page-ratio;
    background-color: $background-color;
  }
  .bottom-section {
    position: absolute;
    height: calc(100% - $page-ratio);
    width: 100%;
    background-color: $primary-1;
    z-index: 1001;
    bottom: 0;
    left: 0;
  }

  .wave {
    @keyframes wave-animation {
      0% {
        background-position-x: 0px;
        mask-position: 0px 0px;
      }
      100% {
        background-position-x: 100vw;
        mask-position: 100vw 0px;
      }
    }

    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0;

    opacity: 0;

    background-image: url('../imgs/wave.png');
    background-blend-mode: multiply;
    background-color: $primary-1;
    background-size: 100vw 100px;

    mask-image: url('../imgs/wave.png');
    mask-mode: alpha;
    mask-size: cover;

    &.wave-1 {
      animation: wave-animation $bob-speed linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
    }

    &.wave-2 {
      animation: wave-animation 20s reverse linear infinite;
      z-index: 998;
      opacity: 0.5;
      animation-delay: -2s;
    }
    
    &.wave-3 {
      animation: wave-animation 10s linear infinite;
      z-index: 997;
      opacity: 0.7;
      animation-delay: -5s;
    }
  }

  .info-boat {
    $width: max(15%, 300px);
    $height: max(60vh, 400px);

    $sway-amount: 4deg;

    @keyframes sway {
      0% {
        transform: rotate(-$sway-amount);
      }
      50% {
        transform: rotate($sway-amount);
      }
      100% {
        transform: rotate(-$sway-amount);
      }
    }

    @keyframes bob {
      0% {
        bottom: 0px;
      }
      20% {
        bottom: 50px;
      }
      60% {
        bottom: -45px;
      }
      80% {
        bottom: -35px;
      }
      100% {
        bottom: 0px;
      }
    }

    position: absolute;
    z-index: 999;
    width: $width;
    left: calc(50% - $width / 2);
    bottom: 50px;
    border-radius: 8px;
    animation: sway 5s ease-in-out infinite, bob $bob-speed ease-in-out infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    > * { 
      background-color: $highlight; 
      margin: -2px;
    }

    .boat-body {
      width: 100%;
      height: calc($height / 5);

      background-color: transparent;

      border-top: 125px solid $highlight;
      border-left: 80px solid transparent;
      border-right: 80px solid transparent;
      border-radius: 4px;
      height: 0;
      width: 100px;
    }
    .boat-neck {
      position: relative;
      width: 8%;
      height: calc($height / 5);
    }
    .boat-sail {
      width: 200%;
      height: calc($height * 3 / 5);
      border-radius: 8px;
      padding: 8px;

      .computer-screen {
        background-color: $text-color;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        color: $primary-1;

        .screen-content {
          padding: 24px;

          > * {
            margin-bottom: 10px;
          }

          .type {
            @keyframes t{
              from {background-size:0 200%}
            }
            @keyframes b{
              50% {background-position:0 -100%,0 0}
            }

            color:#0000;
            background:
              linear-gradient(-90deg,$primary-1 5px,#0000 0) 10px 0,
              linear-gradient($primary-1 0 0) 0 0;
            background-size:calc(var(--n)*1ch) 200%;
            background-clip:padding-box,text;
            background-repeat:no-repeat;
            animation: 
              b .7s infinite steps(1),   
              t calc(var(--n)*.1s) steps(var(--n)) forwards;
          }

          .center-text {
            text-align: center;
          }

          .title-text {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

.toolbar {
  position: relative;
  z-index: 9999;
  top: 15px;
  transform: translateX(-500px);
  left: 15px;

  .spacer {
    height: 15px;
  }

  .tool-container {
    @keyframes enter {
      from {
        transform: translateX(0px);
      }
      to {
        transform: translateX(calc(500px));
      }
    }

    animation: enter 0.8s ease-in 1 normal forwards;

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i * 0.15s);
      }
    }
  }
}

.social-group {
  position: absolute;
  float: right;
  right: 15px;
  top: 15px;

  .social-container {
    display: block;
  }

  svg {
    width: 48px;
    height: 48px;
    cursor: pointer;

    path {
      fill: $text-color;
    }
  }
}